@import "../variable";

.header {
  height: $header-height;
  left: 0;
  position: relative;
  right: 0;
  z-index: 50;
}

/* ------------------------
  Header Navigation Menu
------------------------ */
.header-wrap {
  height: $header-height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: .9375rem;
  padding-right: .9375rem;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.header-logo img {
  max-height: 35px;
  position: relative;
}

@media only screen and (min-width: 766px) {
  .header-navigation {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    visibility: visible;
    margin-left: 48px;
  }
}

.header-navigation {
  margin-left: 48px;
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  vertical-align: top;
  -webkit-transition: margin .2s, width .2s, -webkit-box-flex .2s;
  transition: flex .2s, margin .2s, width .2s, -webkit-box-flex .2s, -ms-flex .2s;
}

.header-navigation-wrap {
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.u-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.header-navigation .navigation-link {
  border-bottom: 2px solid transparent;
  font-weight: 400;
  margin: 0;
  padding: 0 1rem;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-size: .875rem;
}

.header a {
  align-items: center;
  color: $sub-fc-color;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  &:hover {
    color: $sub-fc-color-hover;
    font-weight: bold;
  }
}
